PUID=1000
PGID=1000
API_IMAGE=shotgunwilly555/makersvault-api:latest
WEB_IMAGE=shotgunwilly555/makersvault-web:latest
FILE_STORAGE=/app/storage
DB_URL=sqlite:///./app.db
API_PORT=8000
PUBLIC_URL=
CORS_ORIGINS=
VITE_ALLOWED_HOSTS=
VITE_API_URL=
AUTH_USERNAME=admin
AUTH_PASSWORD=password
AUTH_SECRET=replace-with-random-secret
AUTH_TOKEN_TTL=43200



