PUID=1000
PGID=1000
API_IMAGE=shotgunwilly555/makersvault-api:latest
WEB_IMAGE=shotgunwilly555/makersvault-web:latest
FILE_STORAGE=/app/storage
DB_URL=sqlite:///./app.db
CORS_ORIGINS=http://10.0.0.160:5173,http://10.0.0.160:8230
VITE_ALLOWED_HOSTS=10.0.0.160
VITE_API_URL=http://10.0.0.160:8230
AUTH_USERNAME=admin
AUTH_PASSWORD=Element554!!
AUTH_SECRET=replace-with-random-secret
AUTH_TOKEN_TTL=43200
